@mixin default() {
	--blue-100: #e5f0ff;
	--blue-200: #e3eeff;
	--blue-300: #b0cdf3;
	--blue-500: #8bb4ea;
	--blue-700: #5f7ba0;
	--blue-900: #393964;
	--purple-100: #e6e5ff;
	--purple-200: #f3e7e9;
	--purple-300: #b1b0f5;
	--purple-500: #8e8cee;
	--purple-700: #6160a2;
	--purple-900: #2e2e4c;
	--primary-100: #e6e5ff;
	--primary-300: #b1b0f5;
	--primary-500: #8e8cee;
	--primary-700: #6160a2;
	--primary-900: #393964;
	--red-100: #fedede;
	--red-300: #f08c8c;
	--red-500: #e55454;
	--red-700: #9e3f3f;
	--red-900: #4b2525;
	--grey-100: #f4f4f9;
	--grey-300: #d2d2d8;
	--grey-500: #b4b4ba;
	--grey-600: #696970;
	--grey-700: #4c4c53;
	--grey-900: #26262e;
	--green-100: #ebffe4;
	--green-300: #bbebab;
	--green-500: #9cde84;
	--green-700: #6b985b;
	--green-900: #354a2d;
	--yellow-100: #fff8e3;
	--yellow-300: #f2db9f;
	--yellow-500: #e9c771;
	--yellow-700: #9e884f;
	--yellow-900: #4a4129;
}
