@mixin solid-btn($fill) {
	background: $fill;
	color: #fff;
	transition: filter 0.3s;
	&:hover {
		filter: brightness(0.9);
	}
}

@mixin outline-btn($color) {
	background: none;
	color: $color;
	box-shadow: 0 0 0 1px $color;
}

@mixin ghost-btn($color) {
	color: $color;
	background: none;
}

@mixin disabled($color: false) {
	cursor: not-allowed;
	opacity: 0.4;
	@if $color {
		@include outline-btn($color);
	} @else {
		box-shadow: none;
	}
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: var(--sp-6) var(--sp-16);
	border-radius: var(--border-rd);
	font-weight: 600;
	white-space: nowrap;
	&___large {
		padding: var(--sp-16) var(--sp-24);
	}
	&___solid {
		@include solid-btn(var(--btn-color));
		&[aria-disabled='true'] {
			@include disabled(var(--btn-color));
		}
	}
	&___outline {
		@include outline-btn(var(--btn-color));
		&[aria-disabled='true'] {
			@include disabled(var(--btn-color));
		}
	}
	&___ghost {
		@include ghost-btn(var(--btn-color));
		&[aria-disabled='true'] {
			@include disabled;
		}
	}
	&___loading {
		cursor: not-allowed;
		filter: brightness(0.9);
	}
	&___primary {
		@include solid-btn(var(--primary-500));
		&.button___outline {
			@include outline-btn(var(--primary-500));
		}
		&[aria-disabled='true']:not(.button___ghost) {
			@include disabled(var(--primary-500));
		}
		&.button___ghost {
			@include ghost-btn(var(--primary-500));
		}
	}
	&___secondary {
		@include solid-btn(var(--grey-600));
		&.button___outline {
			@include outline-btn(var(--grey-600));
		}
		&[aria-disabled='true']:not(.button___ghost) {
			@include disabled(var(--grey-600));
		}
		&.button___ghost {
			@include ghost-btn(var(--grey-600));
		}
	}
	&__icon {
		display: flex;
		align-items: center;
		flex: 1 0 20px;
		align-self: stretch;
		margin-left: 10px;
	}
}
