.questionaire {
	--container: 50%;
	overflow: hidden;
	background-color: var(--blue-200);
	background: linear-gradient(
		to top,
		var(--purple-200) 0%,
		var(--blue-200) 99%,
		var(--blue-200) 100%
	);
	&_title_icon {
		width: 22px;
		margin-right: 12px;
		height: 22px;
	}
}
